<h1> About Page </h1>

<h2> What's it all about!? </h2>

<p> Hey, this is just me learning, which is a good thing. One day I'll be a big boy and build something better than this, but for now this is good enough.</p>

<h4><%= link_to 'Let\'s make a todo!', pages_path %>