<h1> Home Page </h1>

<h2> Welcome to the todo list app </h2>

<p> It's pretty simple - go to the next page, where you'll be able to add, edit, or delete a todo item </p>

<h4><%= link_to 'Let\'s make a todo!', pages_path %>